#map{width:50%;
	height:500px;
	margin: auto;
	min-width: 500px;
	top: 50px;


}
body{background: #669999;}
button{
	text-align: center;
	padding: 20px;
	border-radius: 50px;
	background: #ffcc99;
	margin-top: 100px;

}
.container{
	text-align: center;
	

}